@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,300;0,8..144,400;1,8..144,300;1,8..144,400&display=swap');


/* part of the code for the navigation which is further below, but has been kept seperate to ensure entries are written according to specificity */
:root {
  background-color: white;
}

/* part of the code for the navigation which is further below, but has been kept seperate to ensure entries are written according to specificity */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 110%;
  margin: 0;
  font-family: "Roboto";
  color: #0b173a;
  background-image: url(assets/images/sand2000.jpg)
}

h1,
h2,
h3 {
  text-decoration: underline;
}

hr {
  margin-left: 15%;
  margin-right: 15%;
}

/* ---------- Style for navigation starts here ---------- */
/* The code for the sticky, responsive header and navigation bar was written by a coder called Kevin Powell who has a channel on Youtube and I have borrowed it
from him.  The following are links, to the youtube video, where I followed his explanations: https://www.youtube.com/watch?v=8QKOaTYvYUA&t=172s.
This ia a link to his youtube channel: https://www.youtube.com/kepowob.
This is a link to his codepen profile where the code for this can be found: https://codepen.io/kevinpowell/pen/jxppmr
And this is his Github profile: https://github.com/kevin-powell  */
header {
  width: 100%;
  height: 130px;
  align-content: center;
  background: linear-gradient(to top, #3b5998 0%, #26a7de 100%);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.logo {
  height: 130px;
  width: 130px;
  padding: 10px;
  border-radius: 50%;
  align-items: center;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus~.nav-toggle-label {
  outline: 3px solid rgba(173, 216, 230, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 2em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  font-size: 70%;
  margin-bottom: 1em;
  margin-left: 1em;
}

.footer nav a {
  text-decoration: none;
  font-size: 0.60rem;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.footer nav,
a:hover {
  color: #000;
}

.nav-toggle:checked~nav {
  transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* Style for written content on main body */
.testimonials {
  font-style: italic;
}

.testimony-names {
  font-size: 80%;
  font-weight: bold;
  text-indent: 20px;
}

.counselling-is {
  align-content: center;
}

article {
  padding-top: 5px;
  padding-bottom: 15px;
  margin-top: 3px;
  margin-left: 10%;
  margin-right: 10%;
}

section {
  margin-left: 10%;
  margin-right: 10%;
}

.privacy-policy {
  padding-top: 140px;
  padding-bottom: 90px;
}

/* ---------- Map  ---------- */
/* In this map section I used learning and resources from "https://www.embedgooglemap.net/" and also "https://www.w3schools.com/howto/howto_css_responsive_iframes.asp" */
iframe {
  width: 800px;
  height: 300px;
  border: 2px solid gray;
}

.map {
  position: relative;
  height: 300px;
  width: 100%;
  padding: 10px;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#gmap-canvas {
  position: relative;
  overflow: hidden;
  background: none !important;
  width: 100%;
}

/* Style for image content */
.hero-image {
  padding-top: 190px;
  display: inline-block;
  text-align: center;
}


.listening {
  padding-top: 190px;
  display: inline-block;
  text-align: center;
}

.three-heads {
  display: inline-block;
  text-align: center;
}

/* Style for footer and footer and content */
.footer {
  align-items: center;
  display: flex;
  height: 70px;
  position: fixed;
  left: 0;
  bottom: 0;
  background: linear-gradient(to top, #26a7de 0%, #3b5998 100%);
  text-transform: uppercase;
  width: 100%;
}

.footer a {

  color: white;
  font-size: 80%;
}

.bacp-badge {
  padding-left: 25px;
  padding-right: 20px;
  height: 50px;
}


/* Media Queiries Section */
@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
}